# Виртуальное окружение
venv/

# Кэш Python
__pycache__/
*.pyc

# Логи
*.log

# Модели и веса
ml/model/

# Скриншоты, если будем сохранять
captures/

# Конфиденциальные настройки (если появятся)
config/*.local.yaml

# Файлы IDE
.idea/
.vscode/
*.swp
